# Ignore the virtual environment
myenv/
Venv/
ENV/
env/
venv1/
farm_env/
data/
*.pyc
__pycache__/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
logs/
*.swp

# Ignore VSCode settings (optional)
.vscode/

# Ignore Python environment files
Pipfile
Pipfile.lock
*.env

# Ignore compiled Python files
*.pyo
*.pyd

# Ignore database files (if any)
*.sqlite3
*.db
