{% extends "base.html" %}

{% block content %}

<h2>Hardware Simulator</h2>

<div class="card">

    <h3>Motor Status</h3>

    {% if motor_running %}
        <div class="motor-on">
            🟢 MOTOR RUNNING
        </div>
    {% else %}
        <div class="motor-off">
            🔴 MOTOR OFF
        </div>
    {% endif %}

</div>


<div class="card">

    <h3>LCD Preview (20x4)</h3>

    <div class="lcd">

        <div class="lcd-line">{{ lcd_lines.get(0, "") }}</div>
        <div class="lcd-line">{{ lcd_lines.get(1, "") }}</div>
        <div class="lcd-line">{{ lcd_lines.get(2, "") }}</div>
        <div class="lcd-line">{{ lcd_lines.get(3, "") }}</div>

    </div>

</div>


<div class="card">

    <h3>Current Simulator</h3>

    /dev/current-mode
    <form action="/dev/current-mode" method="POST">
        <label>
            <input
                type="radio"
                name="mode"
                value="normal"
                {% if current_mode == "normal" %}checked{% endif %}
            >
            Normal Current
        </label>

        <br><br>

        <label>
            <input
                type="radio"
                name="mode"
                value="dry_run"
                {% if current_mode == "dry_run" %}checked{% endif %}
            >
            Dry Run Current
        </label>

        <br><br>

        <button type="submit">
            Apply
        </button>

    </form>

</div>


<div class="card">
    <h3>Phase Monitor</h3>

    <form action="/dev/power-mode" method="POST">
        <label>
            <input type="radio" name="power" value="on"
                   {% if power_available %}checked{% endif %}>
            Power Available
        </label>

        <br><br>

        <label>
            <input type="radio" name="power" value="off"
                   {% if not power_available %}checked{% endif %}>
            Power Lost
        </label>

        <br><br>

        <button type="submit">Apply</button>
    </form>
</div>


{% endblock %}